.Header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--container-color);

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: transparent;
    backdrop-filter: blur(0.5rem);
  }

  h1 {
    color: var(--title-color);
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      color: var(--first-color);
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
    margin: 0px 1rem;

    div {
      display: flex;
    }

    :hover {
      color: var(--first-color);
    }
  }

  a {
    text-decoration: none;
    color: var(--title-color);
    transition: 0.3s;
    height: 100%;
    font-family: var(--body-font);
  }

  .test-container {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    pointer-events: none;
    cursor: default;
    margin: 0;

    h1 {
      padding: 0;
      margin: 0;
    }
  }

  div {
    transition: 0.3s;
    color: var(--title-color);
    cursor: pointer;
  }
}
