.Footer {
  background-color: var(--first-color);
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
  width: 100%;

  .FooterContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;

    h2 {
      font-weight: 700;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-left: var(--maring-left);
    }

    @media screen and (min-width: 1024px) {
      gap: 3rem;
      display: flex;
      justify-content: space-around;
    }
  }

  .CopyContainer {
    margin-top: 20px;
    flex-direction: row;

    p {
      text-align: center;
      color: white;
      font-size: 0.9rem;

      a {
        font-size: 1rem;
        letter-spacing: 0.05rem;
        font-weight: 800;
        transition: 0.3s;
      }
    }
  }

  .ChrisContainer {
    padding-top: 0.7rem;
    h1 {
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
      padding-top: 10px;
      font-size: 1.2rem;
      color: black;
    }
    @media (max-width: 768px) {
      p {
        font-size: 1rem;
      }
    }
  }

  .ContactContainer {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      transition: 0.3s;
      align-items: center;
    }

    .icon {
      margin-right: 10px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    padding-bottom: 0.7rem;
    transition: 0.3s;
  }

  @media (hover: hover) {
    ul li:hover {
      transform: translateX(1em);
    }

    .CopyContainer {
      p {
        a:hover {
          letter-spacing: 0.3rem;
        }
      }
    }
  }
}
