html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--container-color);
  scroll-behavior: smooth;
}

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: white;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --maring-left: 5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

/* Font size for large devices */
// @media screen and (min-width: 1000px) {
//   :root {
//     --big-font-size: 3rem;
//     --h1-font-size: 2.25rem;
//     --h2-font-size: 1.5rem;
//     --h3-font-size: 1.17rem;
//     --normal-font-size: 1rem;
//     --small-font-size: 0.875rem;
//     --smaller-font-size: 0.813rem;
//     --p-font-size: 41rem;
//   }
// }

// @media screen and (min-width: 300px) {
//   :root {
//     --big-font-size: 3rem;
//     --h1-font-size: 2.25rem;
//     --h2-font-size: 1.5rem;
//     --h3-font-size: 1.17rem;
//     --p-font-size: 1rem;
//     --normal-font-size: 1rem;
//     --small-font-size: 0.875rem;
//     --smaller-font-size: 0.813rem;
//   }
// }

a {
  text-decoration: none;
  color: white;
}
.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 60%, 16%);
}

// 300px and above
@media screen and (min-width: 300px) {
  :root {
    --maring-left: 3rem;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
    }
    a {
      font-size: 0.8em;
    }
  }
}

// 10300px and above
@media screen and (min-width: 768px) {
  :root {
    h1 {
    }
    h2 {
    }
    h3 {
    }
    p {
    }
    a {
    }
  }
}

// 10300px and above
@media screen and (min-width: 1024px) {
  :root {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 1em;
    }
    p {
      font-size: 0.9em;
    }
    a {
      font-size: 0.9em;
    }
    a {
      background-color: transparent;
    }
  }
}

// 10300px and above
@media screen and (min-width: 1920px) {
  :root {
    a {
    }
  }
}
